#navbar h2 {
  color: #228ff5;
}

#home_page h1 {
  width: 100%;
  font-size: 6em;
  text-align: center;
  font-family: sans-serif;
  color: #228ff5;
}
#home_page h3 {
  width: 100%;
  text-align: center;
}
#big_btn_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 5em 1em;
}
#home_page .big_btn a {
  padding: 2em;
  background-color: #228ff5;
  font-size: 1.3em;
  border-radius: 10px;
  transition: 0.4s;
  display: flex;
  color: white;
}
#home_page .big_btn a:hover {
  box-shadow: 6px 4px 20px #0000002e;
}
.dark #home_page .big_btn a {
  background-color: #195893;
  color: #d2f9e5;
}
.dark #home_page .big_btn a:hover {
  box-shadow: 6px 4px 20px #000000;
  background-color: #0062be;
}

.md_page #page_content > div {
  max-width: 80%;
}
.blog-item{
  border: #228ff566 solid 1px;
}
.blog-item .project-img img {
  transition: 0.5s;
}
.blog-item:hover .project-img img {
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
}
